
:root{
    --color-primario: #F3F5FC;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    color: #495057;
}

body{
    background-color: var(--color-primario);
    margin: 2.5rem;
    padding-bottom: 4rem; /* Espacio para evitar que el footer sobreponga el contenido */

}

main {
    flex: 1; /* Ocupa todo el espacio restante, empujando el footer hacia abajo */
}

.contenido__respuesta{
    overflow: hidden;   /* Evita que el contenido salga del div */
    background-color: #FFFFFF;
    border-radius: 2rem;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    width: 25rem;
    height: calc(100% - 7.5rem); /* Resta el margen superior e inferior */
    display: flex;              /* Activa el modo flexbox */
    flex-direction: column;     /* Alinea los elementos en una columna (verticalmente) */
    justify-content: center;    /* Centra los elementos verticalmente */
    align-items: center;        /* Centra los elementos horizontalmente */
    text-align: center;         /* Centra el texto dentro de los elementos */
 }

.contenido__texto{
    border-radius: 2rem;
    position: absolute;
    left: 10.2rem;
    top: 7.5rem;
    width: 35rem;
    height: calc(100% - 22.5rem); /* Resta el margen superior e inferior */
    border-radius: 1rem;
    padding: 1.5rem;
}

textarea::placeholder {
    color: #0A3871;         /* Color del texto del placeholder */
    font-style: italic;  /* Estilo de fuente del placeholder */
    
}

.contenido__respuesta__imagen{
    margin: 15.188rem 2rem 2rem 2rem; /* Aplica los márgenes que especificaste */
   max-width: calc(100% - 4rem); /* Resta los márgenes derecho e izquierdo del ancho total del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como un bloque y respete el margen */

}

.contenido__respuesta__titulo{
    margin: 2rem 2rem 0rem 2rem; 
    color: #343A40;
}
.contenido__respuesta__indicacion{
    margin: 1rem 2rem 15.188rem 2rem; 
    color: #495057;
}

.contenido__respuesta__texto{
    width: calc(100% - 2rem); /* Ajusta el ancho del textarea para que no sobrepase el div */
    height: 80%; /* Ajusta la altura según sea necesario */
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
}

.contenido__interaccion__boton__encriptar{
    margin-right: 1.4rem;
}
.contenido__respuesta__boton,
.contenido__interaccion__boton__encriptar,
.contenido__interaccion__boton__desencriptar {
    margin-top: 2rem;
    background-color: #D8DFE8;
    border-radius: 1rem;
    color: #0A3871;
    padding: 1rem;
    width: 15rem;
}


.contenido__interaccion{
    position: absolute;
    left: 12rem;
    bottom: 7.625rem;
    right: auto; /* Cambia a auto si estás posicionando a la derecha */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}


.contenido__interaccion button:hover,
.contenido__respuesta__boton:hover {
    background-color: #0A3871;
    color: #FFFFFF;
}

.footer{
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    background-color: #343A40;
    color: white;
    text-align: center;
    padding: 1rem;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.popup.active {
    display: block;
}